<a href="https://colab.research.google.com/github/mralamdari/Computer-Vision-Projects/blob/main/YOLO_v5_Wheet_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import os
import cv2
import torch
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import clear_output

# Clone YOLOv5

Clone the YOLOv5 repository, and move all the yolo files to your current working directory

In [2]:
!git clone https://github.com/ultralytics/yolov5
!mv yolov5/* ./

Cloning into 'yolov5'...
remote: Enumerating objects: 15978, done.
remote: Counting objects: 100% (147/147), done.
remote: Compressing objects: 100% (72/72), done.
remote: Total 15978 (delta 89), reused 118 (delta 75), pack-reused 15831
Receiving objects: 100% (15978/15978), 14.61 MiB | 21.49 MiB/s, done.
Resolving deltas: 100% (10958/10958), done.

In [7]:
!pip install -r requirements.txt
clear_output()

In [16]:
os.environ['KAGGLE_CONFIG_DIR'] = '/content/drive/MyDrive'
!kaggle competitions download global-wheat-detection
!unzip \*.zip && rm *.zip
clear_output()

In [18]:
df = pd.read_csv('/content/train.csv')
bboxs = np.stack(df['bbox'].apply(lambda x: np.fromstring(x[1:-1], sep=',')))
for i, column in enumerate(['x', 'y', 'w', 'h']):
    df[column] = bboxs[:,i]
df.drop(columns=['bbox'], inplace=True)
df['x_center'] = df['x'] + df['w']/2
df['y_center'] = df['y'] + df['h']/2
df['classes'] = 0
# from tqdm.auto import tqdm
# import shutil as sh
df = df[['image_id','x', 'y', 'w', 'h','x_center','y_center','classes']]
df

         image_id      x      y      w      h  x_center  y_center  classes
0       b6ab77fd7  834.0  222.0   56.0   36.0     862.0     240.0        0
1       b6ab77fd7  226.0  548.0  130.0   58.0     291.0     577.0        0
2       b6ab77fd7  377.0  504.0   74.0  160.0     414.0     584.0        0
3       b6ab77fd7  834.0   95.0  109.0  107.0     888.5     148.5        0
4       b6ab77fd7   26.0  144.0  124.0  117.0      88.0     202.5        0
...           ...    ...    ...    ...    ...       ...       ...      ...
147788  5e0747034   64.0  619.0   84.0   95.0     106.0     666.5        0
147789  5e0747034  292.0  549.0  107.0   82.0     345.5     590.0        0
147790  5e0747034  134.0  228.0  141.0   71.0     204.5     263.5        0
147791  5e0747034  430.0   13.0  184.0   79.0     522.0      52.5        0
147792  5e0747034  875.0  740.0   94.0   61.0     922.0     770.5        0

[147793 rows x 8 columns]